<ion-header>
  <ion-toolbar>
    <ion-title>Guardar Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="ion-padding"> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ubicación Actual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input
        label="Tu nombre"
        [(ngModel)]="nombre"
        placeholder="Ingresa tu nombre">
      </ion-input>

      <p *ngIf="latitude && longitude">
        <strong>Latitud:</strong> {{ latitude }}<br />
        <strong>Longitud:</strong> {{ longitude }}<br />
        <a [href]="url" target="_blank">Ver en Google Maps</a>
      </p>

      <ion-button expand="block" (click)="guardar()">Guardar en Firebase</ion-button>
    </ion-card-content>
  </ion-card>
<!-- </ion-content> -->
